*     {
  margin:  0;
  padding: 0;
}
div   {
  display:     block;
  font-family: Arial, Meiryo, 'MS PGothic', Helvetica, 'Hiragino Kaku Gothic Pro', AppleGothic, sans-serif;
}
body  { background-color: #616ca3; }
img   { border:            0;      }

#logo {
  width:      100%;
  text-align: center;
  padding:    5px;
}

.main_wrap {
  color: #C3C5DF;
  margin-top: 20px;
}

.main {
  width:             600px;
  background-color: #525d94;
  border: 1px solid #3a437b;
  margin: 0 auto;
  margin-top: -7px;
}

.main_header {
  width: 600px;
  margin: 0 auto;
}

.footer {
  padding:    5px;
  margin-top: 5px;
  text-align: center;
}

.trigger {
  margin:   0 auto;
  width:    98%;
  padding:  5px;
  overflow: hidden;
	
  background-image:    url("img/border_bottom.png");
  background-position: bottom;
  background-repeat:   repeat-x;
  background-color:    transparent;

  cursor: pointer;
  cursor: hand;
}

.toggle {
  display:           none;
  width:             100%;
  background-color: #d5cec5;
  border: 1px solid #78644F;
  color:            #78644F;
  margin:           -5px;
  padding:           5px;
  overflow:          hidden;
}

.center-it {
  text-align: center;
}

li {
  padding:         1px;
  list-style-type: none;
  overflow:        hidden;
}
li:hover           { border: 1px dotted #574b36; }
li:nth-child(even) { background-color: #b7a690; }

.aleft {
  float:      left;
  text-align: left;
  width:      50%;
}

.afarleft {
  float:      left;
  text-align: center;
  width:      33.33333%;
}

.aright {
  float:      left;
  text-align: right;
  width:       50%;
}

.afarright {
  float:      right;
  text-align: center;
  width:      33.33333%;
}

.acentre {
  float:      left;
  text-align: center;
  width:      33.33333%;
}
