html, body {
  font-family: sans-serif;
}

.cont {
  overflow: auto;
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.skills {
  width: 100%;
  height: 134px;
  top: 0;
}

.active_cover {
  width: 100%;
  height: 100%;
  background-color: rgba(74, 125, 71, 0.5);
  display: none;
}

.current_skill {
  border: dashed 1px black;
}

.names {
  width: 100%;
  height: 20px;
  top: -160px;
}

.name {
  width: 128px;
  height: 15px;
  text-align: center;
  display: inline-block;
}

.active {
  width: 50%;
  top: 200px;
  height: 35px;
}

.skill {
  width: 128px;
  height: 128px;
  display: inline-block;
}

#q {
  background-image: url("res/q.png");
}

#w {
  background-image: url("res/w.png");
}

#e {
  background-image: url("res/e.png");
}

#invoke {
  background-image: url("res/invoke.png");
  margin-left: 15px;
}

#invoke_name {
  margin-left: 15px;
}

#arrow {
  background-image: url("res/arrow.png");
}

.active_skill {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-size: contain;
}

#active_q {
  background-image: url("res/q_icon.png");
}

#active_w {
  background-image: url("res/w_icon.png");
}

#active_e {
  background-image: url("res/e_icon.png");
}

.header {
  width: 100%;
  height: 150px;
  position: absolute;
  top: 20px;
  text-align: center;
  font-size: 46pt;
}

.cheatsheet {
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
  background-image: url('res/cheatsheet.png');
  background-repeat: no-repeat;
  background-position: center center;
}
